.bg-label-warning {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}
.bg-label-primary {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}

.bg-label-pink {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}
.fa-sort-asc:before {
    content: "\f0de";
}

.fa-sort-desc:before {
    content: "\f0dd";
}
.fa-pencil-square-o:before {
    content: "\f044";
}
.fa-trash-o:before {
    content: "\f014";
}
.red-star:after{
    content: "*";
    color:red;
}
.btn-icon {
    -ms-flex-negative: 0;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-shrink: 0;
    height: calc(2.5rem + 2px);
    justify-content: center;
    padding: 0;
    width: calc(2.5rem + 2px);
}


.modal-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    position: relative;
}
.modal .btn-close {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 .125rem .25rem rgba(161,172,184,.4);
    opacity: 1;
    padding: 0.635rem;
    transition: all .23s ease .1s;
    right: -2rem;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    position: absolute;
    top: -2rem;
}
.btn-close {
    background: transparent url('../img/btn-close.svg') 50%/0.8em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    box-sizing: content-box;
    color: #a1acb8;
    height: 0.8em;
    opacity: .95;
    padding: 0.25em;
    width: 0.8em;
}
.modal .btn-close:hover {
    opacity: 1;
    outline: none;

    -webkit-transform: translate(-80%,80%);
    transform: translate(-80%,80%);
}
.btn-dark:hover {
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.btn-label-secondary {
    background: #ebeef0;
    border-color: transparent;
    color: #8592a3;
}
.btn-default:hover {
    background: #788393;
    border-color: transparent;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(133 146 163/40%);
    color: #fff;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

form label{
    color: #566a7f;
    font-weight: 500;
    font-size: .75rem;
    margin-bottom: 0.5rem;
}
form input{
    font-size: .9rem!important;
}
