.bg-label-warning {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}
.bg-label-primary {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}

.bg-label-pink {
    background-color: #fff2d6!important;
    color: #ffab00!important;
}

